:root {
  --white: #ffffff;
  --black: #1f1f1f;
  --beige: #ccb58e;
  --gray: #c2c2c2;
  --light-beige: #f5f0e6;
  --dark-beige: #b8a57b;
}

label {
  display: block;
  margin: 1rem;
  color: var(--black);
}

input,
textarea,
select {
  width: 100%;
  padding: 10px;
  margin-top: 4px;
  border: 1px solid var(--gray);
  border-radius: 8px;
  background-color: var(--light-beige);
  color: var(--black);
}

.button {
  margin-top: 1.5rem;
  width: 100%;
  padding: 12px;
  background-color: var(--dark-beige);
  border: none;
  border-radius: 10px;
  color: var(--white);
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s;
}

.button:hover {
  background-color: var(--beige);
  color: var(--black);
}
